<h1>観覧</h1>   
  <table>
    <tbody>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;物件名: &nbsp;<%= @rent.name %></td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;賃料: &nbsp;<%= @rent.price %></td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;住所: &nbsp;<%= @rent.address %></td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;築年数: &nbsp;<%= @rent.age %></td>
      </tr>
      <tr>
       <td>&nbsp;&nbsp;&nbsp;&nbsp;備考: &nbsp;<%= @rent.content %></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <% n = 1 %>
  <% @station.each do |station| %>
    <%if station[:walk].present?||station[:route_name].present?||station[:station_name].present? then%>
    <h4>最寄駅<%= n %></h4>
    <% n = n + 1%>
    <table>
      <tbody>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;路線名: &nbsp;<%= station.route_name%></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;駅名:&nbsp;<%=station.station_name%></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;徒歩分数:&nbsp;<%=station.walk%>分</td>
        </tr>
      </tbody>
    </table>
    <% end %> 
  <% end %> 
<table>
  <tr>
    <td><%= link_to "編集", edit_rent_path(@rent.id) %></td>
    <td>|</td>
    <td><%= link_to "戻る", rents_path %></td>
  </tr>
</table>
